/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
    --T1-background-color: #284A8C;
    --T1-foreground-color: #ffffff;
    --T1-hover-color: #fa7777;
    --T1-hover-backg: rgb(53, 79, 163);
    --T1-writing-color: #ffffff;
    --temp-block: #fcf8f8;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    /* background-color: var(--T1-background-color);
    color: var(--T1-foreground-color);
    width: 100%; */
}

.backi {
    z-index: -100;
    position: absolute;
}

.main-title {
    font-size: 3rem;
    color: var(--T1-foreground-color);
    background-color: var(--T1-background-color);
}

a, .navbar {
    background-color: var(--T1-background-color) !important;
    color: var(--T1-foreground-color) !important;
}

a, .nav-item {
    color: var(--T1-foreground-color) !important;
    background-color: var(--T1-foreground-color) !important;
}

a, .navbar-brand {
    background-color: #284A8C !important;
}

a, .nav-link {
    background-color: #284A8C !important;
}

a, nav-link :link {
    color: var(--T1-foreground-color) !important;
    background-color: var(--T1-background-color) !important;
}

.nav-link:hover {
    color: var(--T1-hover-color)!important;
    background-color: var(--T1-hover-backg) !important;
    -webkit-transition-duration: .4s;
         -o-transition-duration: .4s;
            transition-duration: .4s;
    /* font-size: 1rem; */
    outline: solid 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.spacer-block {
    position: absolute;
    top: 600px;
    height: 400px;
    width: 100%;
    background-color: white;
    color: black;
}

li, .pg-sections {
    border: 0px;
    margin-top: 10px;
    padding: 0px;
    list-style: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

.p-size {
    opacity: 90%;
    height: auto;
    width: 100%;
}

.p-size:hover {
    color: red;
    opacity: 100%;
}

p {
    font-size: .75rem;
}

.card-text {
    min-height: 200px;
}

h2, .prof-text {
    font-size: .75rem;
    /* margin-left: 10px; */
    /* font-size: 2rem; */
}

a, .c-button :link {
    background-color: #21252A !important;
    color: #ffffff;
}



 