/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
    /* --T1-background-color: #284A8C; */
    --T1-background-color: rgb(41, 58, 74);
    --T1-background-pop: rgb(60, 83, 104);
    --T1-foreground-color: #ffffff;
    --T1-hover-color: #fa7777;
    --T1-linkbg-color: #fa7777;
    --T1-hover-backg: rgb(41, 58, 74);
    --T1-writing-color: #ffffff;
    --temp-block: #fcf8f8;
    margin: 0px;
    padding: 0px;
    border: 0px;
    --bronze: #f3ebde;
    --silver: #ebe8e8;
    --gold: #f5eaca;
    --platinum: #f7f4f4;
    --bespoke: #ffecec;
    --elite: #eaeff8;
}

body {

    font-family: 'Mulish', sans-serif;

    /* font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif; */

    
    /* font-family: 'Roboto', sans-serif; */
}

.backi {
    z-index: -100;
    position: absolute;
}

.cust-btn {
    background-color: var(--T1-background-color) !important;
}

.cust-btn :hover {
    background-color: var(--T1-hover-backg) !important;
    color: var(--T1-hover-color) !important;
}

.c-button :hover {
    /* background-color: var(--T1-background-color); */
    background-color: var(--T1-background-color);
}

a,
.c-button {
    text-decoration: none;
}

.main-title {
    font-size: 3rem;
    color: var(--T1-foreground-color);
    background-color: var(--T1-background-color);
}

a,
.navbar {
    background-color: var(--T1-background-color) !important;
    color: var(--T1-foreground-color) !important;
}

a,
.nav-item {
    color: var(--T1-foreground-color) !important;
    background-color: var(--T1-foreground-color) !important;
}

a,
.navbar-brand {
    background-color: --T1-background-color !important;
}

a,
.nav-link {
    background-color: var(--T1-background-color) !important;
}

.nav-link:link {
    color: var(--T1-foreground-color) !important;
    background-color: var(--T1-background-color) !important;
    padding-left: 2px;
}

.nav-link:hover {
    color: var(--T1-hover-color)!important;
    /* background-color: var(--T1-hover-backg) !important; */
    background-color: var(--T1-background-pop) !important;
    padding-left: 2px;
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-duration: .4s;
}

.navbar-toggler {
    background-color: white !important;
}

.spacer-block {
    position: absolute;
    top: 600px;
    height: 400px;
    width: 100%;
    background-color: white;
    color: black;
}

li,
.pg-sections {
    border: 0px;
    margin-top: 10px;
    padding: 0px;
    list-style: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

.p-size {
    opacity: 90%;
    height: auto;
    width: 100%;
}

.p-size:hover {
    color: red;
    opacity: 100%;
}

p {
    font-size: 1.25rem;
}

.card-text {
    min-height: 200px;
}

h2,
.prof-text {
    font-size: .75rem;
}

.c-content {
    color: #888888!important;
    text-decoration: none;
}

.card-h {
    min-height: 33vh !important;
}

.b-shadow {
    -webkit-box-shadow: 10px 10px 10px #888888 !important;
    box-shadow: 10px 10px 10px #888888 !important;
}

.big-orange {
    color: var(--T1-hover-color);
}

.people-layer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* position: absolute; */
    /* top:10px; */
    /* z-index: -100; */
}

.drop-shadow {
    box-shadow: 10px 10px 10px #888888;
}

.text-shadow {
    text-shadow: 10px 10px 10px #888888;
}

.spacer {
    height: 200px;
}

.inner-table {
    font-size: .75rem;
    width: 100%;
}

.maintenance-banner {
    position: absolute;
    width: 60%;
    background-color: #faec22;
    padding-top: 10px;
    padding-bottom: 10px;


    left: 0;
    right: 0;
    
    padding-left: 10px;
    padding-right: 10px;
    
    margin-left: auto;
    margin-right: auto;

    opacity:75%;
}

.logo-section {
    margin-top: 0px;
    height: 20vh;
    width: auto;
    /* background-color: var(--T1-background-color); */
    color: var(--T1-hover-color);
}

.price-list {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: solid, 1px, black;
}

.tabspace {
    border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
}

table {
    font-size: .75rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.price-row {
    background-color: var(--T1-hover-color);
    color: var(--T1-background-color);
}

.price-header {
    background-color: var(--T1-background-color);
    color: white;
}

.tick {
    color: var(--T1-background-color);
    background-color: rgb(228, 228, 222);
    font: bold;
}

.price-card {
    min-height: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.card-logo {
    height: 50px;
}

.card-color {
    background-color: #f5f4ef;
}

.quality-mark {
    height: 100px;
    width: auto;
}

.check-mark {
    padding-top: 2px;
    padding-bottom: 2px;
    height: 40px;
    width: auto;
}

.bronze-card {
    background-color: var(--bronze);
}

.silver-card {
    background-color: var(--silver);
}

.gold-card {
    background-color: var(--gold);
}

.platinum-card {
    background-color: var(--platinum);
}

.bespoke-card {
    background-color: var(--bespoke);
}

.elite-card {
    background-color: var(--elite);
}






/* PRICE CARDS DOTS */
ul, .link-options li {
    padding-left: 20px;
    list-style-type: disc;
}







td {
    font-size: 1rem;
}

.btn {
    border-radius: 0px !important;
}

.card {
    border-radius: 0px !important;
}

.navbar-toggler {
    border-radius: 0px !important;
}

#profile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.table-label{
    text-align: left;
    font-size: .75rem;
}

.asap{
    background-color: var(--T1-background-pop);
    color: var(--T1-foreground-color);
}

.navbar-collapse{

    transition-duration: 1s;
}

/* .shrink-it{

    height: calc(100% - 20%);
    width: auto;
} */


.price-bar{
    display: inline;

    background-color: var(--T1-hover-color);
    color: black;
    padding-left: 10px;
    padding-right:10px;

    margin-left: auto;
    margin-right: auto;

 

    /* border-radius: 10px; */

    font-size: 1.5rem;

    box-shadow: 10px 10px 10px #888888;

}

.ghostIt{

 
    transition-duration: 4s !important;

}

.word-shadow{
    text-shadow: 10px 10px 10px #888888;
}

.diagram, svg {

    margin-left: auto;
    margin-right: auto;

    height:auto;
    width: 80%;

}